html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
  background-color: rgba(0, 0, 0, .5);
  display: inline;
}

p {
  font-style: italic;
  font-size: 2rem;
  margin-top: .5rem;
  margin-bottom: 1rem;
}

body {
  margin: 0;
  padding: 0;
}

.img {
  max-height: 500px;
  position: relative;
  overflow: hidden;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  padding-top: 1rem;
  padding-left: 1.5rem;
  max-width: 50em;
  width: 100%;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}
